.restaurant-animate {
  &.ng-enter, &.ng-leave {
    transition: 0.5s linear all;
  }

  &.ng-enter {
    @include opacity(0);
    top: -25px;

    &.ng-enter-active {
      @include opacity(1);
      top: 0;
    }
  }

  &.ng-leave {
    @include opacity(1);
    left: 0;

    &.ng-leave-active {
      @include opacity(0);
      left: -1000px;
    }
  }
}

.voter-animate {
  &.ng-enter, &.ng-leave {
    transition: 0.5s linear all;
    //@include single-transition(all 500ms linear);
  }

  &.ng-enter {
    @include opacity(0);
    position: relative;
    left: 100px;

    &.ng-enter-active {
      @include opacity(1);
      left: 0;
    }
  }

  &.ng-leave {
    @include opacity(1);

    &.ng-leave-active {
      @include opacity(0);
    }
  }
}
