.done-msg-animate {
  @include opacity(1);
  line-height: 1;

  &.ng-hide-add, &.ng-hide-remove {
    transition: all linear 500ms;
    display: block !important;
  }

  &.ng-hide {
    @include opacity(0);
    line-height: 0;
  }

}

.sidebar-animate {

  &.ng-hide-add, &.ng-hide-remove {
    transition: all linear 500ms;
    display: block !important;
    width: 250px !important;
  }

  &.ng-hide {
    width: 0px !important;
    border-left-color: transparent !important;

    > * {
      display: none;
    }
  }
}
