.done-msg-animate {

  &.ng-hide-add, &.ng-hide-remove {
    transition: all linear 50ms;
  }

  &.ng-hide-add {
    @include opacity(0);

    &.ng-hide-add-active {
      @include opacity(1);
    }
  }

}

.sidebar-animate {
  transition: all 50ms linear;

  &.ng-hide-remove {
    width: 250px !important;

    > * {
      display: none;
    }

    &.ng-hide-remove-active {
      width: 0px !important;
      border-left-color: transparent !important;
    }
  }
}
