.btn {
  $from: rgb(0, 164, 209);
  $to: rgb(0, 137, 177);

  @include inline-block;

  font-family: $body-font;
  font-size: 16px;
  padding: 5px 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  @include background(linear-gradient($from, $to));
  @include box-shadow(shade($from, 30%) 0 0 0 1px, rgba(black, 0.5) 0 2px 0 0);
  border: 1px solid tint($from, 30%);
  @include border-radius(3px);

  &:hover {
    @include background(linear-gradient(tint($from, 30%), tint($to, 30%)));
  }

  &:active {
    @include box-shadow(none);
    border: shade($from, 30%) 1px solid;
  }

  &[disabled='disabled'] {
    $disabled-from: #5adce5;
    $disabled-to: #5acbd2;

    @include background(linear-gradient($disabled-from, $disabled-to));
    border: 1px solid #55d8ff;
    @include box-shadow(#49b8c0 0 0 0 1px);
    color: rgba(white, 0.5);
  }
}
