@import "components/restaurant";

$grey-shadow: rgba(#000, 0.15);

.main {
  @include box-sizing(border-box);
  @include min-height(700px);

  .search {
    position: relative;
    margin-bottom: 30px;

    input {
      @include box-sizing(border-box);

      width: 100%;
      padding: 5px;
      padding-left: 25px;
      font-size: 16px;

      border: 1px solid #dedede;
      @include border-radius(4px);
      @include box-shadow(1px 1px 3px 0 rgba(0, 0, 0, 0.3));
    }

    .icon-search {
      color: #a9aebe;
      position: absolute;
      top: 10px;
      left: 8px;
    }
  }

  .lunch {
    margin-bottom: 50px;
  }

  .restaurant {
    @include restaurant;
  }
}



