@import 'components/restaurant';

$grey-shadow: rgba(#000, 0.15);

.main {
  width: 100%;
  @include box-sizing(border-box);
  -webkit-flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;

  .spinner {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }

  h2 {
    color: #444;
  }

  > div {
    width: 100%;
    @include box-sizing(border-box);
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -webkit-align-items: stretch;
  }

  .parent {
    margin-bottom: 10px;
    width: 80%;
    @include box-sizing(border-box);
    -webkit-flex: 3 0 auto;
    .search {
      position: relative;
      margin-bottom: 30px;

      input {
        @include box-sizing(border-box);

        width: 100%;
        padding: 5px;
        padding-left: 25px;
        font-size: 16px;

        border: 1px solid #dedede;
        @include border-radius(4px);
        @include box-shadow(1px 1px 3px 0 rgba(0, 0, 0, 0.3));
      }

      .fa-search {
        color: #a9aebe;
        position: absolute;
        top: 10px;
        left: 8px;
      }
    }

    .restaurant {
      @include restaurant;
    }
  }
}



