@import 'components/tags';

.restaurant-modal {
  width: 600px;
  height: 400px;
  @include box-sizing(border-box);

  padding: 15px;

  .title {
    margin: 0 auto;
    text-align: center;

    .logo {
      vertical-align: middle;
    }

    h2 {
      vertical-align: middle;
      display: inline;
    }
  }

  .location {
    margin-top: 15px;
    text-align: center;
  }

  .tags {
    margin-top: 30px;

    @include tags;
  }

  .new-tag {
    margin-top: 30px;

    input {
      font-size: 16px;
      padding: 5px 10px;
      border: 1px solid #939597;
      @include border-radius(3px);
      box-shadow: inset 1px 4px 7px -6px black;
    }
  }

  .tt-dropdown-menu {
    border: 1px solid rgba(black, 0.3);
    margin-top: 5px;
    padding: 10px;
    @include border-radius(3px);
    @include box-sizing(border-box);
    width: 100%;

    .tt-suggestion {
      margin-bottom: 10px;

      p {
        margin-top: 0;
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


}