@import "components/voters";

@mixin restaurant {
  @include box-sizing(border-box);
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;

  @include border-radius(4px);
  @include photoshop-drop-shadow(90, 1px, 0, 0px, $grey-shadow);
  border: 1px solid #bfbfbf;
  background-color: white;

  img {
    -webkit-flex: 0 0 auto;
    width: 75px;
    vertical-align: middle;
  }

  .details {
    margin-left: 10px;
    font-size: 20px;

    > .name {
      font-weight: bold;
    }

    .tags {
      @include tags;
    }

  }

  .vote-container {
    align-self: center;
    -webkit-flex: 12 0 auto;
    height: 75px;
    margin-left: 30px;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;

    .voters {
      -webkit-flex: 0 0 auto;
      @include voters;
    }

    .vote-btn {
      $from: rgb(0, 199, 245);
      $to: rgb(0, 137, 177);

      -webkit-flex: 0 0 auto;
      margin-left: 10px;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 42px;

      @include inline-block;
      @include box-sizing(border-box);

      color: white;

      @include background(linear-gradient($from, $to));
      box-shadow: -2px 2px 2px rgba(black, 0.5);
      &:active {
        @include background(linear-gradient($to, $from));
        box-shadow: inset 0px 2px 3px -6px rgba(black, 0.5);

        i {
          text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000
        }
      }
    }
  }

  &:hover {
    .details {
      > .name {
        color: #3f7be1;
      }
    }
  }

}