@import 'components/tags';

#modal.restaurant-modal {
  width: 500px;
  height: 450px;
  @include box-sizing(border-box);
  // unfortunately all the restaurants' logos have a white background, so in any other color it will look bad.
  background: white;

  padding: 15px;

  .title {
    margin: 0 auto;
    text-align: center;

    .logo {
      vertical-align: middle;
    }

    h2 {
      vertical-align: middle;
      display: inline;
    }
  }

  .location {
    margin-top: 15px;
    text-align: center;
  }

  h3 {
    margin: 20px 0;
  }

  .tags {
    margin-left: 4px;

    @include tags;
  }

  .new-tag {
    padding-top: 15px;
    clear: both;

    .twitter-typeahead {
      width: 100%;
    }

    input {
      @include box-sizing(border-box);
      width: 100%;
      font-size: 16px;
      padding: 5px 10px;
      border: 1px solid #939597;
      @include border-radius(3px);
      box-shadow: inset 1px 4px 7px -6px black;

    }
  }

  .tt-dropdown-menu {
    border: 1px solid rgba(black, 0.3);
    margin-top: 5px;
    padding: 10px;
    @include border-radius(3px);
    @include box-sizing(border-box);
    width: 100%;
    background: white;

    .tt-suggestion {
      margin-bottom: 10px;

      p {
        margin-top: 0;
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .stats {
    h4 {
      margin: 30px 0 15px 0;
    }

    li {
      margin-top: 10px;
    }
  }
}