@import "components/tag";

.restaurant-animate-enter {
  @include single-transition(all 50ms linear);
  @include opacity(0);
  top: -25px;
}

.restaurant-animate-enter.restaurant-animate-enter-active {
  @include opacity(1);
  top: 0;
}

.restaurant-animate-leave {
  @include single-transition(all 50ms linear);
  @include opacity(1);
  left: 0;
}

.restaurant-animate-leave.restaurant-animate-leave-active {
  @include opacity(0);
  left: -1000px;
}

@mixin restaurant {
  @include box-sizing(border-box);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
  position: relative;

  @include border-radius(4px);
  @include photoshop-drop-shadow(90, 1px, 0, 0px, $grey-shadow);
  border: 1px solid #bfbfbf;
  background-color: white;

  img {
    height: 42px;
    vertical-align: middle;
  }

  .details {
    @include inline-block;
    margin-left: 10px;

    > .name {
      font-weight: bold;
    }

    .tags {
      height: 20px;

      .tag {
        @include tag;
        float: left;
      }

    }

    .voters {
      @include box-sizing(border-box);

      height: 40px;
      position: absolute;
      top: 12px;
      right: 10px;

      .vote-btn {
        margin: 4px 0 0 10px;
        vertical-align: baseline;
      }

      .voter {
        @include inline-block;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

}