@import "animations/restaurant_animations";
@import "components/voters";

@mixin restaurant {
  @include box-sizing(border-box);
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  @include border-radius(4px);
  @include photoshop-drop-shadow(90, 1px, 0, 0px, $grey-shadow);
  border: 1px solid #bfbfbf;
  background-color: white;

  img {
    flex: 0 0 auto;
    height: 44px;
    vertical-align: middle;
  }

  .details {
    margin-left: 10px;

    > .name {
      font-weight: bold;
    }

    .tags {
      @include tags;
    }

  }

  .vote-container {
    align-self: center;
    flex: 12 0 auto;
    height: 44px;
    margin-left: 30px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    .voters {
      flex: 0 0 auto;
      @include voters;
    }

    .vote-btn {
      flex: 0 0 auto;
      margin-left: 10px;
      text-align: center;
      width: 95px;
    }
  }

  &:hover {
    .details {
      > .name {
        color: #3f7be1;
      }
    }
  }

}