.sign-in-modal {
  color: #444;
  width: 500px;

  h3 {
    margin: 0;
  }

  .modal-body {
    padding: 30px;

    .sign-up-details {

      .office-select {
        margin-top: 15px;

        select {
          font-size: 16px;
          margin-left: 2px;
          width: 320px;
        }
      }

      .separator {
        position: relative;
        text-align: center;
        margin: 15px 0;
        font-family: $light-font;

        span {
          @include inline-block;

          &:before, &:after {
            border-top: 1px solid lighten(#444, 50%);
            display: block;
            height: 1px;
            content: "";
            width: 27%;
            position: absolute;
            top: 10px;
            left: 0;
          }

          &:after {
            right: 0;
            left: auto;
          }
        }
      }

      .office-create {
        input {
          @include box-sizing(border-box);
          width: 100%;
          font-size: 16px;
          padding: 5px 10px;
          border: 1px solid #939597;
          @include border-radius(3px);
          margin-bottom: 10px;
        }
      }


      .submit-btn {
        width: 60px;
        display: block;
        margin: 20px auto 0 auto;
      }
    }

    .google-logo {
      float: right;
    }
  }
}