.sign-in-modal {
  width: 420px;

  h3 {
    margin: 0;
  }

  .modal-body {
    padding: 30px;

    .sign-up-details {
      .office {
        margin-top: 15px;

        .fa-briefcase {
          font-size: 20px;
          vertical-align: middle;
        }

        select {
          font-size: 16px;
          margin-left: 2px;
          width: 320px;
          vertical-align: middle;
        }
      }

      .submit-btn {
        width: 60px;
        display: block;
        margin: 30px auto 0 auto;
      }
    }
  }
}