$tag-bg-color: #E0EAF1;
$tag-border-color: #b3cee1;

$voted-tag-bg-color: #acd02f;
$voted-tag-text-color: #5c7113;
$voted-tag-border-color: #acd02f;

@mixin tag {
  @include box-sizing(border-box);
  height: 25px;
  font-family: $body-font;

  @include border-radius(3px);
  padding: 0 13px;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  background: #f0f0f0;
  color: #333333;
  border: 1px solid #d4d4d4;

  .multiplier, .quantity {
    font-size: 12px;
    color: #999999;
  }

  margin: 5px 10px 2px 0;
  white-space: nowrap;

  &.voted {
    @include voted-tag;
  }

//  &.clickable {
//    @include clickable-tag;
//  }
}

@mixin clickable-tag {
  cursor: pointer;

  &:hover {
    background-color: tint($tag-bg-color, 50%);
  }

  &:active {
    border: 1px solid $tag-border-color;
  }

  &.voted {
    &:hover {
      background-color: tint($voted-tag-bg-color, 50%);
    }

    &:active {
      border: 1px solid $voted-tag-border-color;
    }
  }

}


@mixin voted-tag {
  cursor: default;

  background-color: #c0c0c0;
  border: 1px solid #8b8b8b;
}