$tag-bg-color: #E0EAF1;
$tag-border-color: #b3cee1;

$voted-tag-bg-color: #acd02f;
$voted-tag-text-color: #5c7113;

@mixin tag {
  @include box-sizing(border-box);
  height: 20px;

  color: #3E6D8E;
  background-color: $tag-bg-color;
  border-bottom: 1px solid $tag-border-color;
  border-right: 1px solid $tag-border-color;
  padding: 3px 4px 3px 4px;
  margin: 2px 2px 2px 0;
  white-space: nowrap;
  font-family: $body-font;
  font-size: 12px;

  .multiplier {
    color: #999;
  }

  .quantity {
    color: #999;
  }

  &.voted {
    @include voted-tag;
  }

  &.clickable {
    @include clickable-tag;
  }
}

@mixin clickable-tag {
  cursor: pointer;

  &:hover {
    background-color: tint($tag-bg-color, 50%);
  }

  &:active {
    border: 1px solid $tag-border-color;
  }
}

@mixin voted-tag {
  cursor: default;

  background-color: tint($voted-tag-bg-color, 30%);
  border-bottom-color: $voted-tag-bg-color;
  border-right-color: $voted-tag-bg-color;
  color: $voted-tag-text-color;
}