@mixin voters {
  @include box-sizing(border-box);
  cursor: default;
  height: 40px;

  .voter {
    img {
      width: 40px;
      height: 40px;
    }
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}