<h2>Where do people want to lunch today?</h2>
<div class='lunch'>
  <div class='restaurant' ng-repeat='restaurant in lunch.getRestaurants()'>
    <span class='name'>{{restaurant.name}}</span>
    <span class='category'>{{restaurant.category}}</span>
    <div class='tags'>
      <div class='tag' ng-repeat='tag in restaurant.tags'>
        <span class='name'>{{tag.name}}</span>
        <span class='multiplier'>×</span>
        <span class='quantity'>{{tag.quantity}}</span>
      </div>
      <div class='voters'>
        <div class='voter' ng-repeat='voter in restaurant.getVoters()'>
          <img class='avatar' ng-src='{{voter.avatarUrl}}'>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Where do you want to lunch today?</h2>
<div class='search_restaurants'>
  <div class='search'>
    <input type='text' placeholder='start typing to filter restaurants' ng-model='query'></input>
  </div>
  <div class='restaurant' ng-repeat='restaurant in restaurants | filter:query'>
    <span class='name'>{{restaurant.name}}</span>
    <span class='category'>{{restaurant.category}}</span>
    <div class='tags'>
      <div class='tag' ng-repeat='tag in restaurant.tags'>
        <span class='name'>{{tag.name}}</span>
        <span class='multiplier'>×</span>
        <span class='quantity'>{{tag.quantity}}</span>
      </div>
      <div class='voters'>
        <div class='voter' ng-repeat='voter in restaurant.getVoters()'>
          <img class='avatar' ng-src='{{voter.avatarUrl}}'>
        </div>
      </div>
    </div>
  </div>
</div>
