//= require_self

@import 'master';
@import 'components/modal';
@import 'components/sign_in_modal';
@import 'components/restaurant_modal';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/restaurants/main';
@import 'pages/banned';

$grey-shadow: rgba(#000, 0.15);

body {
  margin: 0;
  font-family: $body-font;
  background: #f0f0f0;
  display: -webkit-flex;
  @include min-height(100vh);
  -webkit-flex-direction: column;
}

.container {
  @include box-sizing(border-box);
  width: $container-width;
  margin: 0 auto;
  -webkit-flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
