//= require_self

@import 'master';
@import 'pages/restaurants/main';


$container-width: 960px;
$grey-shadow: rgba(#000, 0.15);

body {
  margin-top: 0;
  background-color: rgb(235, 234, 222);
  font-family: $body-font;
}

.container {
  width: $container-width;
  margin: 0 auto;
  background-color: white;
  @include box-shadow(0px 3px 10px 0px $grey-shadow);

  header, footer {
    text-align: center;
    clear: both;
  }

  header {
    padding: 15px 0;

    h1 {
      margin: 0;
      span:first-child {
        color: #333;
      }

      span:last-child {
        margin-left: -10px;
        color: #de382d;
      }
    }
  }

  .main {
    @include main-content;
    @include min-height(700px);

    .lunch {
      margin-bottom: 50px;
    }
  }

  footer {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #EFEFEF;
    color: #444;
  }

}