//= require_self

@import 'master';
@import 'pages/restaurants/main';


$container-width: 960px;
$grey-shadow: rgba(#000, 0.15);

body {
  margin: 0;
  font-family: $body-font;
  background: #f0f0f0;
}

header, footer {
  text-align: center;
  clear: both;
}

header {
  padding: 15px 0;
  background: #333;

  h1 {
    color: white;
    text-align: left;
    margin: 0;
    margin-left: 502.5px;
  }
}

footer {
  padding: 30px;
  background-color: white;
  color: #444;
  border-top: 1px solid #ddd;
}

.container {
  @include box-sizing(border-box);
  width: $container-width;
  margin: 0 auto;
  padding: 30px;
}
