%header{'ng-controller' => 'HeaderController'}
  .header-content
    %h1 LunchTIME
    .user-panel
      .sign-in-btn{'ng-click' => 'signIn()', 'ng-hide' => 'user'} SIGN IN
      .signed-in-user-details{'ng-show' => 'user'}
        %span.username Hi {{user.firstName}},
        .sign-out-btn{'ng-click' => 'signOut()'} SIGN OUT